20*
.log
.env
.DS_Store
.idea
.vscode
.pytest_cache
.pytest_cache/*
.pytest_cache/**/*
.pytest_cache/**/**/*
.pytest_cache/**/**/**/*
.pytest_cache/**/**/**/**/*
.pytest_cache/**/**/**/**/**/*
__pycache__
node_modules
tests
.env
*.zip
output
skipped*
downloaded_files
.idea/
old_code/
audiobee_*