# {{PROJECT_NAME}} Dependencies
#
# Install with: pip install -r requirements.txt
#
# This installs sapphire as an editable dependency from the parent directory.
# All transitive dependencies (pydantic, typer, httpx, orjson, etc.) are
# pulled in automatically from sapphire's pyproject.toml.
#
# Alternative installation methods:
#
# 1. Using uv (recommended):
#    uv pip install -e ../sapphire
#
# 2. Using pip with pyproject.toml:
#    pip install -e .
#
# 3. Using this requirements.txt:
#    pip install -r requirements.txt

-e ../sapphire
